body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    min-height: 100vh;


    .textContainer {
        display: flex;
        gap: 12px;
        margin-top: 8px;

        .textStyle {
            color: #6C6C6C;
            width: 65%;
            height: 3.5rem;
            margin: 0 0 0 1px;
            padding: 0 .625rem;
            border: 1px solid #888;
            line-height: initial;
        }

        .validateButtonStyle {
            width: 35%;
            border: 0;
            border-radius: 0;
            appearance: none;
            background: linear-gradient(90deg, #DA202A 2%, #FF4242 95%);
            color: #FFF;
            font-weight: bold;
            font-size: large;
        }

        .validateButtonStyle:disabled {
            background: #ccc;
            cursor: not-allowed;
            opacity: 0.6;
        }
    }

    .barcodeLabelStyle {
        font-weight: 600;
        font-size: large;
    }

    .trackContainer {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        padding: 10% 0;
        display: flex;
        justify-content: center;
    }

    .validateCard {
        background: white;
        max-width: 720px;
        width: 100%;
        margin: auto;
        padding: 4%;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

        .errorStyle {
            color: #DA202A;
            margin-top: 10px;
        }
    }

    .validateCard h1 {
        margin-top: 0;
        text-align: center;
    }

    .validateContainer {
        padding: 2% 5%;
    }
}

@media (max-width: 600px) {
  .textContainer {
    flex-direction: column;
  }

  .textStyle,
  .trackButtonStyle {
    width: 100%;
  }
}
